.footer {
    background-color: #353535;
    color: white;
    padding: 25px;

    img {
        height: 18px;
        width: 100px;
        margin-bottom: 15px;
        filter: brightness(0) invert(1);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        cursor: pointer;

        i {
            font-size: 12px;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        padding: 40px 60px;

        img {
            margin: 0;
            order: 2;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            order: 1;

            li {
                margin: 0;
            }
        }
    }
}