/* Header */

.logo {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    img {
        height: 30px;
    }
}

.localisation {
    display: flex;
    justify-content: center;
    gap: 17px;
    color: #353535;
    background-color: #EAEAEA;
    padding: 15px 0;
    font-weight: 500;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    i {
        width: 12px;
        height: 16px;
    }

    span {
        height: 16px;
    }
}

/* Menu Header */

.header-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    .logo {
        box-shadow: none;
    }
}

.back {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #353535;
    transition: transform 300ms ease-out, opacity 300ms ease-out;

    &:active {
        transform: translateY(-50%) scale(0.9);
        opacity: 0.7;
    }

    i {
        font-size: 30px;
    }
}