// Main Menu

.restaurant-image img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
}

.menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    position: relative;
    padding: 30px 20px;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header h1 {
    font-weight: 400;
    font-family: 'Shrikhand', cursive;
    margin: 0;
}