// Main Menu

.restaurant-image {
    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        display: block;
    }
}

.menu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    position: relative;
    padding: 30px 20px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-weight: 400;
            font-family: 'Shrikhand', cursive;
            margin: 0;
        }
    }
}

.menu-section {
    margin-top: 30px;

    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 15px;
        position: relative;

        &::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: #99E2D0;
            position: absolute;
            bottom: -5px;
            left: 0;
        }
    }
}

.menu-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1.5s ease forwards;
}

// décalage des sections
.menu-section:nth-of-type(1) {
    animation-delay: 0.5s;
}

.menu-section:nth-of-type(2) {
    animation-delay: 1s;
}

.menu-section:nth-of-type(3) {
    animation-delay: 2s;
}

// animation
@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;

    -webkit-tap-highlight-color: transparent;
}

.menu-card-text {
    flex: 1;
    overflow: hidden;

    h3 {
        margin: 0;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin: 5px 0 0;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.price {
    font-weight: bold;
    margin-left: 10px;
    transition: margin 0.3s ease;
}

.menu-check {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: #99E2D0;
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    i {
        width: 22px;
        height: 22px;
        background-color: white;
        color: #99E2D0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
}

.menu-card-input {
    display: none;
}


// desktop (hover uniquement)
@media (hover: hover) {
    .menu-card:hover {
        .menu-check {
            transform: translateX(0);
        }

        .price {
            margin-right: 60px;
        }
    }
}


// responsive mobile (checkbox uniquement)
@media (hover: none) {
    .menu-card:has(.menu-card-input:checked) {
        .menu-check {
            transform: translateX(0);
        }

        .price {
            margin-right: 60px;
        }
    }

    .menu-card:hover {
        .menu-check {
            transform: translateX(100%);
        }

        .price {
            margin-right: 0;
        }
    }
}


// responsive desktop
@media (min-width: 1024px) {
    .restaurant-image img {
        height: 350px;
    }

    .menu {
        max-width: 1050px;
        margin: -40px auto 0;
        padding: 40px;

        &-header {
            justify-content: center;
            gap: 30px;
        }

        &-section {
            margin-top: 40px;

            h2,
            .menu-card {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-card {
            padding: 20px;
        }
    }
}