/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police */
body {
    font-family: "Roboto", sans-serif;
}

// reponsive
@media (min-width: 1024px) {

    .fonctionnement__cards,
    .restaurants__cards,
    .fonctionnement h2,
    .restaurants h2 {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        text-align: center;
    }

    .button h1,
    .button h2,
    .button button {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Loader */
.loader {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    animation: loader-fade 2s forwards;
}

.loader-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #9356DC;
    border-top-color: #FF79DA;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* rotation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* disparition */
@keyframes loader-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}