/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police */
body {
    font-family: "Roboto", sans-serif;
}

// reponsive
@media (min-width: 1024px) {

    .fonctionnement__cards,
    .restaurants__cards,
    .fonctionnement h2,
    .restaurants h2 {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        text-align: center;
    }

    .button h1,
    .button h2,
    .button button {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

}

// loader
.loader {
    position: fixed;
    inset: 0;
    background: white;
    z-index: 999;
    pointer-events: none;

    animation: loader-fade 2.5s ease forwards;
}

/* disparition */
@keyframes loader-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
